<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<!--<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="protocolonly" >
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.WebSockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
			<add name="System.Net.Http" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.WebSockets" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="System.Net"
			  type="System.Diagnostics.TextWriterTraceListener"
			  initializeData="D:\ps4 tools\test\network.log"
			  traceOutputOptions="ProcessId, DateTime"
      />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>-->
</configuration>