<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CEServerPS4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="protocolonly" >
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.WebSockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
			<add name="System.Net.Http" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.WebSockets" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="System.Net"
			  type="System.Diagnostics.TextWriterTraceListener"
			  initializeData="D:\ps4 tools\test\network.log"
			  traceOutputOptions="ProcessId, DateTime"
      />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>-->
    <applicationSettings>
        <CEServerPS4.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </CEServerPS4.Properties.Settings>
    </applicationSettings>
</configuration>